<div class="card">
  <div class="card-header">
    <div class="d-md-flex">
      <h4 class="card-title my-1 ml-2">Claim Approval</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="text-center">No.</th>
            <th scope="col">Employee Name</th>
            <th scope="col" class="text-center">Claim Category</th>
            <th scope="col" class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer" *ngFor="let claim of claims; let num = index"
            (click)="setClaim(claim);openModal(content)">
            <th class="text-center">{{ num+1 }}</th>
            <td>{{ claim.employee | titlecase }}</td>
            <td class="text-center">{{ formatCategory(claim.category) }}</td>
            <td *ngIf="claim.status == 0" class="text-center"><span
                class="badge text-bg-warning">{{ formatStatus(claim.status) }}</span>
            </td>
            <td *ngIf="claim.status == 1" class="text-center"><span
                class="badge text-bg-success">{{ formatStatus(claim.status) }}</span>
            </td>
            <td *ngIf="claim.status == 9" class="text-center"><span
                class="badge text-bg-danger">{{ formatStatus(claim.status) }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title me-2" id="modal-basic-title">
      Claims {{selectedClaim.id+1}}
    </h4>
    <span *ngIf="selectedClaim.status === 0"
      class="badge text-bg-warning">{{ formatStatus(selectedClaim.status) }}</span>
    <span *ngIf="selectedClaim.status === 1"
      class="badge text-bg-success">{{ formatStatus(selectedClaim.status) }}</span>
    <span *ngIf="selectedClaim.status === 9"
      class="badge text-bg-danger">{{ formatStatus(selectedClaim.status) }}</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="mb-3">
      <table class="table table-sm">
        <tr>
          <th>Employee Name</th>
          <td>{{ selectedClaim.employee }}</td>
        </tr>
        <tr>
          <th>Department</th>
          <td>{{ formatDept(selectedClaim.department) }}</td>
        </tr>
        <tr>
          <th>Category</th>
          <td>{{ formatCategory(selectedClaim.category) }}</td>
        </tr>
        <tr>
          <th>Value</th>
          <td>{{ selectedClaim.value | currency :'RM ' }}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{ selectedClaim.description }}</td>
        </tr>
        <tr>
          <th>Attachment</th>
          <td><a href={{url+selectedClaim.filepath}} target="_blank">Link</a></td>
        </tr>
      </table>

    </div>

  </div>
  <div class="modal-footer">
    <button *ngIf="selectedClaim.status === 0" type="button" class="btn btn-sm btn-success"
      (click)="modal.close('Approve');actionClaim(1)">Approve</button>
    <button *ngIf="selectedClaim.status === 0" type="button" class="btn btn-sm btn-danger"
      (click)="modal.close('Reject');actionClaim(9)">Reject</button>
    <button *ngIf="selectedClaim.status != 0" type="button" class="btn btn-sm btn-primary"
      (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>
